<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Upload</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-white" href="#" >Department of Neurology</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" action="{{ url_for('upload') }}">Home <span class="sr-only">(current)</span></a>
      </li>


    </ul>
      <form class="form-inline my-2 my-lg-0" action="{{ url_for('get_gallery') }}">
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Previous Record</button>
    </form>
  </div>
</nav>

<form id="upload-form" class="container mt-5 form-inline" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

    <input id="file-picker" class="form-control" type="file" name="file" accept="image/*" multiple>
    <div id="msg"></div>
    <input type="submit" class="btn btn-success" value="Upload!" id="upload-button">
</form>
</body>
<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'wav))
            {
                $("#msg").text("Files are supported")s
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>
</html>